@charset "utf-8";
/* core.css - 중요공통기능 */

/*웹폰트*/
@import url('https://fonts.googleapis.com/css?family=Play|Sunflower:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*
font-family: 'Play', sans-serif;
font-family: 'Sunflower', sans-serif;
font-family: 'Abril Fatface', cursive;
*/

@font-face {
    font-family: Nanum;
    src: url(../fonts/NanumGothic.woff) format("woff"),
        url(../fonts/NanumGothic.ttf) format("truetype")
}

/*
[ 웹폰트지정형식 ]
@font-face {
    font-family: 내가지은이름;
    src: url(경로.woff) format("woff"),
        url(경로.ttf) format("truetype")
}
- woff 는 데스크탑 브라우저용 웹폰트 확장자
- ttf 는 모바일 브라우저용 웹폰트 확장자
- format(형식명) 은 명시적으로 확장자를 지정하여 웹폰트 로딩을 빠르게함!
*/

/*공통*/
html,body{
    width: 100%;
    overflow-x: hidden;
}
body{
    font-family: dotum, "돋움", sans-serif;
    color: #808080;
    font-size: 12px;
}

/* 공통 class */

/*중앙정렬 속박스*/
.inbox{
    width: 1300px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
/*    outline: 1px dashed red;*/
}

/*IR(Image Replacement) class*/
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*비율유지 class*/
.rbx{
    position: relative;
    width: 100%;
}
.rbx::before{
    content: "";
    display: block;
    padding-top: 70%;
    /*비율에 따라 변경*/
}
/*비율유지속박스*/
/*
.ibx{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
*/











